<!DOCTYPE html >
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head('Formulario de Prioridad')">
</head>
<body class="fondo">>

	<div class="container-fluid">
		<div class="w-50 m-auto">
			<div class="card">
				<div class="card-header">
					<span>Prioridad</span>
				</div>
				<div class="card-body">
					<form action="#" method="post" th:action="@{/catalogo/prioridad/addOrEdit}" th:object="${objectCLP}" >
						<input type="hidden" th:field="*{idCatPrioridad}"></input> 
							<div class="form-group">
								<label for="idText" class="text-primary">Descripcion</label>
								<input type="text" id="idText" th:value="${descripcion}" th:field="*{descripcion}" 
								class="form-control text-uppercase" required="required" /> 
							</div>
							
							<div class="form-group" th:if="${objectCLP.idCatPrioridad != 0}">
								<label for="idSelect" class="text-primary">Estatus</label>
								<select th:field="*{estatus}" id="idSelect"  class="form-control text-uppercase">
								    <option th:value="true" th:text="Activo"></option>
								    <option th:value="false" th:text="Inactivo"></option>
								</select> 
							</div>
							
							<div class="form-group"> 
								<input type="submit" value="Enviar" onclick="converterUppercase('idText');" class="btn btn-outline-success btn-block"/>
							</div>
						</form>
		
				</div>
			</div>
		</div>
		
		<hr/>	
	</div>
	
</body>
</html>