<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/head :: head('Formulario de Trabajadores')">
</head>

<body class="fondo">

	<div class="container-fluid">
		<div class="w-50 m-auto">
			<div class="card">
				<div class="card-header">
					<span>Trabajadores</span>
				</div>
				<div class="card-body">
					<form action="#" method="post" th:action="@{/catalogo/trabajador/addOrEdit}"
						th:object="${objectCLP}">
						<input type="hidden" th:field="*{idCatTrabajador}"></input>

						<div class="form-group">
							<label for="idTextNombre" class="text-primary">Nombre</label>
							<input type="text" id="idTextNombre" th:value="${nombre}" th:field="*{nombre}"
								class="form-control text-uppercase" required="required" />
						</div>

						<div class="form-group">
							<label for="idTextApePat" class="text-primary">Apellido Paterno</label>
							<input type="text" id="idTextApePat" th:value="${apePat}" th:field="*{apePat}"
								class="form-control text-uppercase" required="required" />
						</div>

						<div class="form-group">
							<label for="idTextApeMat" class="text-primary">Apellido Materno</label>
							<input type="text" id="idTextApeMat" th:value="${apeMat}" th:field="*{apeMat}"
								class="form-control text-uppercase" required="required" />
						</div>

						<div class="form-group">
							<label for="idTextGrado" class="text-primary">Grado</label>
							<select th:field="*{grado}" id="idTextGrado" class="form-control text-uppercase">
								<option th:value="LICENCIADO" th:text="LICENCIADO"></option>
								<option th:value="MAESTRO" th:text="MAESTRO"></option>
								<option th:value="TECNICO" th:text="TECNICO"></option>
								<option th:value="ALUMNO" th:text="ALUMNO"></option>
							</select>
						</div>

						<div class="form-group">
							<input type="submit" value="Enviar"
								onclick="conversionTrabajador('idTextNombre', 'idTextApePat', 'idTextApeMat', 'idTextGrado');"
								class="btn btn-outline-success btn-block" />
						</div>
					</form>
				</div>
			</div>
		</div>

		<hr />
	</div>

	<script>
		function conversionTrabajador(nombre, apePat, apeMat, grado) {
			converterUppercase(nombre);
			converterUppercase(apeMat);
			converterUppercase(apePat);
		}
	</script>
</body>

</html>