<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/head :: head('Lista de lenguaje de programacion')">
</head>

<body class="fondo">

	<div class="container-fluid">
		<div class="card w-75 m-auto">
			<div class="card-body">
				<div class="table-responsive">
					<table id="myDataTabla"
						class="display table table-striped table-hover table-sm m-auto table-bordered text-center">
						<thead class="thead-dark">
							<tr>
								<th scope="col">#</th>
								<th scope="col">Descripcion</th>
								<th scope="col">Estatus</th>
								<th>Opciones</th>
							</tr>
						</thead>

						<tbody>
							<tr th:each="len : ${listCLP}">
								<th scope="row" th:text="${len.idCatLenPro}"></th>
								<td th:text="${len.descripcion}"></td>
								<td th:text="${len.estatus ? 'Activo' : 'Inactivo'}"></td>
								<td>
									<a href="#"
										th:href="@{/catalogo/lenguaje_programacion/addFormulario?id=__${len.idCatLenPro}__}">
										<button type="button" class="btn btn-warning">
											<i class="far fa-edit"></i>
										</button>
									</a> <a href="#"
										th:href="@{/catalogo/lenguaje_programacion/remove?id=__${len.idCatLenPro}__}">
										<button type="button" class="btn btn-danger">
											<i class="far fa-trash-alt"></i>
										</button>
									</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<div class="card-footer">
				<div class="col-6 m-auto">
					<a href="#" th:href="@{/catalogo/lenguaje_programacion/addFormulario?id=0}" class="m-auto">
						<button class="btn btn-outline-primary btn-block" type="submit">
							<i class="fas fa-plus-circle"></i> Agregar Lenguaje de programacion
						</button>
					</a>
				</div>
			</div>
		</div>
	</div>
	<script>
		configurandoDataTable('#myDataTabla');
	</script>

<head th:include="fragments/head :: footer">
</body>
</html>