<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head lang="es" th:fragment="head(titulo)">

	<title th:text="${titulo}"></title>

	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

	<link th:href="@{/css/estilo.css}" rel="stylesheet" />
	<link th:href="@{/css/footer.css}" rel="stylesheet" />
	<!-- <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" /> -->

	<!-- <script type="text/javascript" src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"   ></script> -->

	<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/popper.min.js}"></script>


	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script> -->

	<script type="text/javascript" th:src="@{/js/util.js}"></script>
	<script type="text/javascript" th:src="@{/js/sweetalert2.all.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/all.js}"></script>


	<link rel="stylesheet" type="text/css" th:href="@{/datatable/jquery.dataTables.css}">

	<script type="text/javascript" charset="utf8" th:src="@{/datatable/jquery.dataTables.js}"></script>
</head>

<body>

	<div th:fragment="head">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
			<a class="navbar-brand" href="#">Navbar</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="#">Home
							<span class="sr-only">(current)</span>
						</a>
					</li>

					<li class="nav-item"><a class="nav-link" href="#">Link</a></li>

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Catálogos </a>

						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="#" th:href="@{/catalogo/lenguaje_programacion/}">Lenguaje de
								Programacion</a>
							<a class="dropdown-item" href="#" th:href="@{/catalogo/modulos/}">Modulos</a>
							<a class="dropdown-item" href="#" th:href="@{/catalogo/prioridad/}">Prioridad</a>
							<a class="dropdown-item" href="#" th:href="@{/catalogo/programacion/}">Programacion</a>
							<a class="dropdown-item" href="#" th:href="@{/catalogo/tipo_proyecto/}">Tipo de
								Proyectos</a>
							<a class="dropdown-item" href="#" th:href="@{/catalogo/trabajador/}">Trabajador</a>

							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#" th:href="@{/catalogo/proyectos/}">Proyectos</a>
						</div>
					</li>
				</ul>

				<form class="form-inline my-2 my-lg-0">
					<button class="btn btn-outline-success my-2 my-sm-0" type="button">
						<i class="fas fa-power-off"></i> <span>Cerrar Sesion</span>
					</button>
				</form>

			</div>
		</nav>
	</div>


	<div th:fragment="footer">
		<div class="footer-bottom-area bg-dark-light section-padding-sm mt-4">
			<div class="container">
				<div class="row widgets footer-widgets">

					<div class="col-lg-3 col-md-6 col-12">
						<div class="single-widget widget-about">
							<h5 class="widget-title">About Us</h5>
							<img src="images/others/about-widget-image.jpg" alt="about widget image">
							<p>We are a team of designers and developers that create high quality <a
									href="#">Readmore...</a></p>
						</div>
					</div>

					<div class="col-lg-3 col-md-6 col-12">
						<div class="single-widget widget-quick-links">
							<h5 class="widget-title">My Account</h5>
							<ul>
								<li><a href="#">Sitemap</a></li>
								<li><a href="#">Privacy Policy</a></li>
								<li><a href="#">Your Account</a></li>
								<li><a href="#">Advanced Search</a></li>
								<li><a href="#">Contact Us</a></li>
							</ul>
						</div>
					</div>

					<div class="col-lg-3 col-md-6 col-12">
						<div class="single-widget widget-quick-links">
							<h5 class="widget-title">Customer Service</h5>
							<ul>
								<li><a href="#">Shipping Policy</a></li>
								<li><a href="#">Compensation First</a></li>
								<li><a href="#">My Account</a></li>
								<li><a href="#">Return Policy</a></li>
								<li><a href="#">Contact Us</a></li>
							</ul>
						</div>
					</div>

					<div class="col-lg-3 col-md-6 col-12">
						<div class="single-widget widget-contact">
							<h5 class="widget-title">Contact Us</h5>
							<ul>
								<li class="address">
									<span class="icon"><i class="fa fa-map-marker"></i></span>
									<p>Address : No 100 Baria Sreet 100/2 Jaipur City, IN.</p>
								</li>
								<li class="phone">
									<span class="icon"><i class="fa fa-phone"></i></span>
									<p><a href="#">+91 7568 54 3012</a></p>
								</li>
								<li class="fax">
									<span class="icon"><i class="fa fa-fax"></i></span>
									<p><a href="#">+91 7568 54 3012</a></p>
								</li>
								<li class="email">
									<span class="icon"><i class="fa fa-envelope"></i></span>
									<p><a href="#">dkstudioin@gmail.com</a></p>
								</li>
							</ul>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

</body>

</html>