<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/head :: head('Formulario de Tipos de proyectos')">
</head>

<body class="fondo">

	<div class="container-fluid">
		<div class="w-50 m-auto">
			<div class="card">
				<div class="card-header">
					<span>Proyectos</span>
				</div>
				<div class="card-body">
					<form action="#" method="post" th:action="@{/catalogo/proyectos/addOrEdit}"
						th:object="${objectCLP}">
						<input type="hidden" th:field="*{idCatProyecto}"></input>

						<!-- catalogo de proyectos inicio -->
						<div class="form-group">
							<label for="idTextNombreProyecto" class="text-primary">Nombre del proyecto</label>
							<input type="text" id="idTextNombreProyecto" th:value="${nombreProyecto}"
								placeholder="Nombre del proyecto" th:field="*{nombreProyecto}"
								class="form-control text-uppercase" required="required" />
						</div>

						<div class="form-group" th:if="${objectCLP.idCatProyecto != 0}">
							<label for="idSelect" class="text-primary">Estatus</label>
							<select th:field="*{estatus}" id="idSelect" class="form-control text-uppercase">
								<option th:value="true" th:text="Activo"></option>
								<option th:value="false" th:text="Inactivo"></option>
							</select>
						</div>
						<!-- catalogo de proyectos final -->

						<!--*************************************************************************************************-->

						<div class="form-group row">
							<!-- 2 columnas de seleccion id´s inicio-->
							<!-- tipo de proyectos inicio -->
							<div class="col-4">
								<label for="idSelectTiporpoyecto" class="text-primary">Lenguaje de programacion</label>
								<select th:field="${tipoProyecto.idCatTipoProyecto}" id="idSelectTiporpoyecto"
									class="form-control text-uppercase">
									<option th:each="tipopro : ${tipoProyectos}" th:value="${tipopro.idCatTipoProyecto}"
										th:text="${tipopro.descripcion}"></option>
								</select>
							</div>
							<!-- tipo de proyectos final -->

							<!-- lenguaje de programacion inicio -->
							<div class="col-4">
								<label for="idSelectCatLenguaje" class="text-primary">Lenguaje de programacion</label>
								<select th:field="${detProyectos.idCatLenPro}" id="idSelectCatLenguaje"
									class="form-control text-uppercase">
									<option th:each="lenpro : ${catLenguajes}" th:value="${lenpro.idCatLenPro}"
										th:text="${lenpro.descripcion}"></option>
								</select>
							</div>
							<!-- lenguage de programacion final -->

							<div class="col-4">
								<label for="idSelectCatProgramacion" class="text-primary">Tipo de Programacion</label>
								<select th:field="${detProyectos.catProgramacions}" id="idSelectCatProgramacion"
									class="form-control text-uppercase" multiple>
									<option th:each="catpro : ${catProgramacions}" th:value="${catpro.idCatProgramacion}"
										th:text="${catpro.descripcion}"></option>
								</select>
							</div>
						</div><!-- 2 columnas de seleccion id´s final-->

						<!--*************************************************************************************************-->
						
						<div class="form-group">
							<label for="idTextReponsable" class="text-primary">Responsable</label>
							<input type="text" id="idTextReponsable" th:value="${detProyectos.responsable}"
								th:field="${detProyectos.responsable}" class="form-control text-uppercase"
								required="required" placeholder="responsable del proyecto" />
						</div>


						<!--*************************************************************************************************-->

						<div class="form-group row">
							<div class="col-6">
								<input type="submit" value="Enviar"
									onclick="conversionFormulario('idTextNombreProyecto', 'idTextReponsable');"
									class="btn btn-outline-success btn-block" />
							</div>

							<div class="col-6">
								<button class="btn btn-secondary btn-block" type="button" id="btn-database">
									<i class="fas fa-plus"></i>
									base datos
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<script>
		function conversionFormulario(proyecto, responsable) {
			converterUppercase(proyecto);
			converterUppercase(responsable);
		}

		$(document).ready(function () {
			asignarFocus('idTextNombreProyecto');

			$("#btn-database").click(function () {
				

				//dupricar

				var datos = $("#det_basedatos").val();
				console.log(datos);

				// $("#vacio-db").append('<div class="form-group row">' +
				// 		'<input type="hidden" th:field="${dbList.add(detbasedatos)}"></input>' +
				// 		'<div class="col-6">' +
				// 			'<label for="idTextAtributo" class="text-primary">Atributo</label>' +
				// 			'<input type="text" id="idTextAtributo" th:value="${detbasedatos.atributo}"' +
				// 				'th:field="${detbasedatos.atributo}" class="form-control text-uppercase"' +
				// 				'required="required" placeholder="atributo de la base de datos" />' +
				// 		'</div>' +
				// 		'<div class="col-6">' +
				// 			'<label for="idTextValor" class="text-primary">Valor</label>' +
				// 			'<input type="text" id="idTextValor" th:value="${detbasedatos.valor}"' +
				// 				'th:field="${detbasedatos.valor}" class="form-control text-uppercase"' +
				// 				'required="required" placeholder="valor de la base de datos" />' +
				// 		'</div>' +
				// 	'</div>' );
			});
		});
	</script>


	<head th:include="fragments/head :: footer">
</body>

</html>